@import '_var.scss';

.first {
	margin-bottom: 70px; padding: 10px;

}
#second {
	margin-top: 20px;
	margin-bottom: 20px;padding: 10px;

}
.block, .b_lock {
 margin: 20px 10px;
 padding: 10px;
}
.b_p {
	padding: 70px 20px;
}
.list {
	margin: 0 20px 30px 20px;
}
.list li {
padding: 14px 0;
}

.chet, .ind, .headere {
	margin: 20px 10px;
	color: red;
}
.block_black {
	color: #fff;
}
.block_black h5 {
	margin-top: 40px;
}

.f_ch_ul, .conch {
	margin: 20px 30px;
}

.forma-test {
	width: 568px;
	margin: 0 auto;
}