@import '_var.scss';

@media only screen and (max-width : 1190px) {

.container {
 width: 1170px;
  // margin: 0 auto;
}


}

@media screen and (max-width: 1080px) {
.container {
 width: 1060px;
}
.logo {

    width: 185px;
  }

}
@media only screen and (max-width: 1024px) {
.container {
  width: 1004px;
  }
.logo {
margin-top: 8px;
    width: 128px;
}
}

@media only screen and (max-width: 992px) {
  .container {
  width: 970px;
}
.top-menu ul {
	display: none;
}
.toggle-mnu {
display: block;
	}

}

@media only screen and (max-width: 800px) {
.container {
  width: 780px;
}

      }
@media only screen and (max-width: 768px) {
.container {
	width: 750px;
}


	     }
@media only screen and (max-width: 667px) {
.container {
 width: 647px;
}


}

@media only screen and (max-width: 640px) {

.container {
	 width: 620px;
}
     }


@media only screen and (max-width: 600px) {
.container {
	 width: 580px;
}


}
@media only screen and (max-width: 568px) {

.container {
	 width: 548px;
	}

}

@media only screen and (max-width: 480px) {
.container {
	 width: 460px;
}

}


@media only screen and (max-width: 425px) {
.container {
	  width: 405px;
}



}

@media only screen and (max-width: 384px) {
.container {
	 width: 364px;
	 }


}

@media only screen and (max-width: 360px) {
.container {
	 width: 340px;
}


}

@media only screen and (max-width: 320px) {
.container {
 width: 310px;
}




}