.icon {
	background: url(../images/sprite.png) no-repeat;
	display: inline-block;
}
.icon-icon-after  {
background-position: 0px -3798px;
width: 138px ;
height: 138px;
}
.icon-icon-baidge  {
background-position: 0px 0px;
width: 115px ;
height: 114px;
}
.icon-icon-brainstorm  {
background-position: 0px -1872px;
width: 114px ;
height: 114px;
}
.icon-icon-businassman  {
background-position: 0px -468px;
width: 114px ;
height: 114px;
}
.icon-icon-calendar  {
background-position: 0px -3044px;
width: 130px ;
height: 130px;
}
.icon-icon-coins  {
background-position: 0px -936px;
width: 115px ;
height: 114px;
}
.icon-icon-hand  {
background-position: 0px -1170px;
width: 114px ;
height: 114px;
}
.icon-icon-haummer  {
background-position: 0px -3545px;
width: 133px ;
height: 133px;
}
.icon-icon-hr  {
background-position: 0px -1638px;
width: 115px ;
height: 114px;
}
.icon-icon-male-brain  {
background-position: 0px -234px;
width: 115px ;
height: 114px;
}
.icon-icon-manager  {
background-position: 0px -2106px;
width: 114px ;
height: 114px;
}
.icon-icon-money  {
background-position: 0px -3294px;
width: 131px ;
height: 131px;
}
.icon-icon-multiple-users-silhouette  {
background-position: 0px -1404px;
width: 115px ;
height: 114px;
}
.icon-icon-paper  {
background-position: 0px -4056px;
width: 138px ;
height: 138px;
}
.icon-icon-phone  {
background-position: 0px -2574px;
width: 114px ;
height: 115px;
}
.icon-icon-professional-advance  {
background-position: 0px -702px;
width: 114px ;
height: 114px;
}
.icon-icon-time  {
background-position: 0px -2809px;
width: 114px ;
height: 115px;
}
.icon-icon-visa  {
background-position: 0px -2340px;
width: 115px ;
height: 114px;
}
.icon-icon-vliyanie  {
background-position: 0px -4314px;
width: 138px ;
height: 138px;
}
